<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="**APPLICATIONID**"
          android:versionCode="**VERSIONCODE**"
          android:versionName="**VERSIONNAME**">

  <application
      android:theme="@android:style/Theme.NoTitleBar"
      android:debuggable="false"
      android:usesCleartextTraffic="true">

    <activity
        android:name="com.unity3d.player.UnityPlayerActivity"
        android:exported="true"
        android:screenOrientation="portrait"
        tools:replace="android:configChanges"
        android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale|layoutDirection|density">

      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>

      <intent-filter android:autoVerify="false">
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data android:scheme="blokus" />
      </intent-filter>

    </activity>

  </application>
</manifest>
